<body>
  <div class="container">
    <div class="user">
      <div class="card text-center">
        <img class="card-img-top rounded-circle text-center" [src]="userName.avatar_url" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">User: {{userName.login}}</h3>
          <ul>
            <li class="badge badge-success">Followers: {{userName.followers}}</li> <br> <br>
            <li class="badge badge-success">Following: {{userName.following}}
            </li> <br> <br>
            <li class="badge badge-info">Public Repos: {{userName.public_repos}} </li> <br> <br>
            <li class="badge badge-info">Created on: {{userName.created_at|date}} </li>
          </ul>
          <a href="https://github.com/JohnKarima" target="blank" class="btn btn-primary">Visit Profile on GitHub</a>
        </div>
      </div>
    </div>
  </div>
</body>